/* Main Navbar Container */
.navbar-container {
    display: flex;
    align-items: center;
    padding: 0 2rem;
    background-color: #1A2F4C;
    color:white;
    height: 80px; 
    position: relative;
  }
  /* Developer Heading */
.navbar-brand {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin-right: 2rem;
    flex-shrink: 0; 

  }
/* Navigation Links */
.nav-links {
    flex: 1; 
    display: flex;
    justify-content: space-around;
    text-decoration:none; 
    align-items: center;
    gap: 1.5rem; 
  }
  
  .nav-item .nav-link {
    font-size: 1.2rem; 
    text-decoration: none;
    justify-content: space-around;
  }
  
  .nav-item .nav-link:hover {
    color: #ffcc00; 
  }
  

  @media (min-width: 992px) {
    .navbar-container {
      padding: 0 4rem; 
    }
  }  
  .footer-container {
    background-color: #1A2F4C; 
    color: #fff;
    padding: 1rem 0;
    position: fixed; 
    bottom: 0;
    width: 100%;
  }
  footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 4rem; /* Space between links */
  }
  .footer-links li {
    display: inline;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  
  .footer-links a:hover {
    color: #ffcc00; /* Gold hover effect */
  }
  
  .footer-links i {
    margin-right: 0.5rem; /* Add space between icon and text */
    font-size: 1.5rem; /* Slightly larger icon size */
  }